/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

body {
	background-color: #333;
}

.App {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	padding: 5rem;
}

textarea {
	margin: 5rem;
	min-height: 300px;
	width: 700px;
	box-shadow: -2px -1px 23px 0px rgba(255, 255, 255, 0.75);
}

.preview {
	display: inline-block;
	word-break: break-word;
	width: 900px;
	border: 1px solid #fff;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.75);
}
